.swiper-button-next,
.swiper-button-prev,
.swiper-button-disabled {
  display: none;
}
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide img {
  width: 275px;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 30px;
}
