.made img {
  width: 86.73px;
  height: 85.84px;
  margin: 39.58px 144.34px 5.07px 143.93px;
}
.made p {
  font-weight: 700;
  font-size: 24px;
  margin: 0 5px -5px 111px;
}
.made p span {
  color: red;
}

